html, body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#canvas {
   display: block;
   height: 100%;
   width: 100%;
}